@import '../../../breakpoints.scss';
@include tablet {
    // .layout {
    //   display: block !important;
    // }
  }

  .hide{
    visibility: hidden;
  }

  .show{
    visibility: visible;
  }
  .filt{
    display: contents;
  }

  
  .btn__close {
    position: fixed;
    left: 21%;
    // left: -6%; 
    top: 20px;
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;

    &:hover,
    &:active {
      background-color: #000;
      color: #fff;
    }

    @media (max-width: 1000px) {
      left: 85%;
    }
  }