<div class='navigation'>
    <div class='navigation__brand'>
      <img src="assets/logo.png" alt='' />
    </div>
    <div class='navigation__links'>
      <a routerLink="/main" class="text-decoration-none"><span class='navigation__link ' routerLinkActive="active">Stays</span></a>
      <a class="text-decoration-none"><span class='navigation__link'>Experiences</span></a>
      <a class="text-decoration-none"><span class='navigation__link'>Online Experiences</span></a>
    </div>
    <div class='navigation__user'>
      <img class="user-image" src="assets/profile-pic.jpg" alt="user-pic" />
     
    </div>
    

    <svg  class="dropdown-toggle" type="button" 
    id="dropdownMenuButton" 
    data-toggle="dropdown"
    aria-haspopup="true" 
    aria-expanded="false" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="hamburgar" height="32" width="32" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg>

    <ul class="dropdown-menu" 
    aria-labelledby="dropdownMenuButton">
    <li class="dropdown-item">
      <img class="user-image menu-image rounded-circle" src="assets/profile-pic.jpg" alt="user-pic" /> </li>
      <a  class="text-decoration-none" routerLink="/main"><li class="dropdown-item d-menu-item"  routerLinkActive="active"> Stays</li></a> 
      <a  class="text-decoration-none"><li class="dropdown-item d-menu-item" > Experiences</li></a>
      <a  class="text-decoration-none"> <li class="dropdown-item d-menu-item">  Online Experiences</li></a>
</ul>
</div>